In [1]:
# IMPORT PACKAGES

## tweepy - api to get data from twitter
import tweepy as tw
## hiding API keys - ref: https://youtu.be/CJjSOzb0IYs
import apikeys
## data manipulation
import pandas as pd
## date transformation
from datetime import datetime, timedelta

In [2]:
# CREATE CONNECTION WITH TWITTER API

## Authentication Tokens
my_bearer = apikeys.bearer
my_key = apikeys.key
my_secret = apikeys.secret
my_token = apikeys.token
my_token_secret = apikeys.token_secret

## creating client object
client = tw.Client(
    bearer_token=my_bearer, 
    consumer_key=my_key, 
    consumer_secret=my_secret, 
    access_token=my_token, 
    access_token_secret=my_token_secret
    )

## creating API object
# authorization of consumer key and consumer secret
auth = tw.OAuthHandler(
    consumer_key=my_key, 
    consumer_secret=my_secret
    )
# set access to user's access key and access secret 
auth.set_access_token(my_token, my_token_secret)
# calling the api 
api = tw.API(auth)

In [3]:
# PROFILE QUANTITY MENTIONS

# Replace with your own search query
query_list = ['@LulaOficial', '@jairbolsonaro', '@cirogomes', '@simonetebetbr']
query_filter = ' -is:retweet'

## all recent tweets mentions
counts_recent = client.get_recent_tweets_count(query=query_list[0], granularity='hour')
## recent tweets mentions without retweets
counts_recent_filtered = client.get_recent_tweets_count(query=query_list[0] + query_filter, granularity='hour')

## creating the dataframe and removing the first and the last range
df_count = pd.DataFrame(counts_recent[0], columns=['start', 'end', 'tweet_count']).rename(columns={"tweet_count": query_list[0] + '_mentions'}).iloc[1:len(counts_recent[0])-1].reset_index(drop=True)
## convert date columns from string to datetime
df_count['start'] = pd.to_datetime(df_count['start'], utc=True).map(lambda x: x.tz_convert('America/Bahia'))
df_count['end'] = pd.to_datetime(df_count['end'], utc=True).map(lambda x: x.tz_convert('America/Bahia'))
## split datetime into date and time
df_count['start_date'] = pd.to_datetime(df_count['start']).dt.date
df_count['start_time'] = pd.to_datetime(df_count['start']).dt.time
df_count['end_date'] = pd.to_datetime(df_count['end']).dt.date
df_count['end_time'] = pd.to_datetime(df_count['end']).dt.time
## reorder the columns sequence
df_count = df_count.loc[:, ['start', 'start_date', 'start_time', 'end', 'end_date', 'end_time', query_list[0] + '_mentions']]
## get tweet count without retweets
df_temp = pd.DataFrame(counts_recent_filtered[0], columns=['tweet_count']).rename(columns={"tweet_count": query_list[0] + '_mentions_without_retweet'}).iloc[1:len(counts_recent[0])-1].reset_index(drop=True)
df_count = pd.concat([df_count, df_temp], axis=1)
## check numeric columns type - fillna and convert to integer
df_count[query_list[0] + '_mentions'] = df_count[query_list[0] + '_mentions'].fillna(0).astype(int)
df_count[query_list[0] + '_mentions_without_retweet'] = df_count[query_list[0] + '_mentions_without_retweet'].fillna(0).astype(int)

## loop - get data about the top 4 candidates
for i in range(1, len(query_list)):
    
    ## all recent tweets mentions
    counts_recent = client.get_recent_tweets_count(query=query_list[i], granularity='hour')
    ## recent tweets mentions without retweets
    counts_recent_filtered = client.get_recent_tweets_count(query=query_list[i] + query_filter, granularity='hour')

    ## get tweet count with retweets
    df_temp = pd.DataFrame(counts_recent[0], columns=['tweet_count']).rename(columns={"tweet_count": query_list[i] + '_mentions'}).iloc[1:len(counts_recent[0])-1].reset_index(drop=True)
    df_count = pd.concat([df_count, df_temp], axis=1)
    
    ## get tweet count without retweets
    df_temp = pd.DataFrame(counts_recent_filtered[0], columns=['tweet_count']).rename(columns={"tweet_count": query_list[i] + '_mentions_without_retweet'}).iloc[1:len(counts_recent[0])-1].reset_index(drop=True)
    df_count = pd.concat([df_count, df_temp], axis=1)
    
    ## check numeric columns type - fillna and convert to integer
    df_count[query_list[i] + '_mentions'] = df_count[query_list[i] + '_mentions'].fillna(0).astype(int)
    df_count[query_list[i] + '_mentions_without_retweet'] = df_count[query_list[i] + '_mentions_without_retweet'].fillna(0).astype(int)

## final dataset
df_count

,start,start_date,start_time,end,end_date,end_time,@LulaOficial_mentions,@LulaOficial_mentions_without_retweet,@jairbolsonaro_mentions,@jairbolsonaro_mentions_without_retweet,@cirogomes_mentions,@cirogomes_mentions_without_retweet,@simonetebetbr_mentions,@simonetebetbr_mentions_without_retweet
0,2022-09-12 19:00:00-03:00,2022-09-12,19:00:00,2022-09-12 20:00:00-03:00,2022-09-12,20:00:00,12009,6035,7892,2065,3210,1538,253,180
1,2022-09-12 20:00:00-03:00,2022-09-12,20:00:00,2022-09-12 21:00:00-03:00,2022-09-12,21:00:00,22107,8869,6958,2129,2604,1082,237,164
2,2022-09-12 21:00:00-03:00,2022-09-12,21:00:00,2022-09-12 22:00:00-03:00,2022-09-12,22:00:00,23491,10706,7819,2431,3043,1685,358,227
3,2022-09-12 22:00:00-03:00,2022-09-12,22:00:00,2022-09-12 23:00:00-03:00,2022-09-12,23:00:00,25729,12866,7137,2191,2120,1258,329,241
4,2022-09-12 23:00:00-03:00,2022-09-12,23:00:00,2022-09-13 00:00:00-03:00,2022-09-13,00:00:00,17254,8781,5527,1549,1604,885,241,157
5,2022-09-13 00:00:00-03:00,2022-09-13,00:00:00,2022-09-13 01:00:00-03:00,2022-09-13,01:00:00,9560,4682,7533,1972,991,565,190,141
6,2022-09-13 01:00:00-03:00,2022-09-13,01:00:00,2022-09-13 02:00:00-03:00,2022-09-13,02:00:00,4427,2287,3248,861,559,285,106,82
7,2022-09-13 02:00:00-03:00,2022-09-13,02:00:00,2022-09-13 03:00:00-03:00,2022-09-13,03:00:00,2512,1204,1685,360,324,154,37,33
8,2022-09-13 03:00:00-03:00,2022-09-13,03:00:00,2022-09-13 04:00:00-03:00,2022-09-13,04:00:00,1590,748,1066,251,207,108,40,24
9,2022-09-13 04:00:00-03:00,2022-09-13,04:00:00,2022-09-13 05:00:00-03:00,2022-09-13,05:00:00,1524,766,1107,248,192,96,31,18
10,2022-09-13 05:00:00-03:00,2022-09-13,05:00:00,2022-09-13 06:00:00-03:00,2022-09-13,06:00:00,2642,1361,1952,435,255,121,52,27
11,2022-09-13 06:00:00-03:00,2022-09-13,06:00:00,2022-09-13 07:00:00-03:00,2022-09-13,07:00:00,5134,3043,4495,975,625,309,88,56
12,2022-09-13 07:00:00-03:00,2022-09-13,07:00:00,2022-09-13 08:00:00-03:00,2022-09-13,08:00:00,7871,4625,9169,2588,861,413,143,99
13,2022-09-13 08:00:00-03:00,2022-09-13,08:00:00,2022-09-13 09:00:00-03:00,2022-09-13,09:00:00,10104,5890,9472,2964,820,424,164,118
14,2022-09-13 09:00:00-03:00,2022-09-13,09:00:00,2022-09-13 10:00:00-03:00,2022-09-13,10:00:00,8987,5589,10077,3141,1320,692,175,142
15,2022-09-13 10:00:00-03:00,2022-09-13,10:00:00,2022-09-13 11:00:00-03:00,2022-09-13,11:00:00,9641,5558,10339,3531,1182,539,161,126
16,2022-09-13 11:00:00-03:00,2022-09-13,11:00:00,2022-09-13 12:00:00-03:00,2022-09-13,12:00:00,11088,6623,12166,3692,1293,730,143,113
17,2022-09-13 12:00:00-03:00,2022-09-13,12:00:00,2022-09-13 13:00:00-03:00,2022-09-13,13:00:00,10289,6210,10759,3287,1397,636,139,107
18,2022-09-13 13:00:00-03:00,2022-09-13,13:00:00,2022-09-13 14:00:00-03:00,2022-09-13,14:00:00,10775,6344,11094,3685,1901,903,163,137
19,2022-09-13 14:00:00-03:00,2022-09-13,14:00:00,2022-09-13 15:00:00-03:00,2022-09-13,15:00:00,8515,5085,10529,3394,1501,712,117,98
20,2022-09-13 15:00:00-03:00,2022-09-13,15:00:00,2022-09-13 16:00:00-03:00,2022-09-13,16:00:00,9375,5273,9216,3076,1088,505,192,130
21,2022-09-13 16:00:00-03:00,2022-09-13,16:00:00,2022-09-13 17:00:00-03:00,2022-09-13,17:00:00,8642,4888,8601,2734,1861,747,374,241
22,2022-09-13 17:00:00-03:00,2022-09-13,17:00:00,2022-09-13 18:00:00-03:00,2022-09-13,18:00:00,9834,5252,11361,3123,1528,629,277,169
23,2022-09-13 18:00:00-03:00,2022-09-13,18:00:00,2022-09-13 19:00:00-03:00,2022-09-13,19:00:00,10444,5482,10791,2993,1365,592,232,175
24,2022-09-13 19:00:00-03:00,2022-09-13,19:00:00,2022-09-13 20:00:00-03:00,2022-09-13,20:00:00,11739,6139,10270,2790,2316,1035,283,208
25,2022-09-13 20:00:00-03:00,2022-09-13,20:00:00,2022-09-13 21:00:00-03:00,2022-09-13,21:00:00,11791,6138,12125,3530,2163,824,339,269
26,2022-09-13 21:00:00-03:00,2022-09-13,21:00:00,2022-09-13 22:00:00-03:00,2022-09-13,22:00:00,11647,5949,14666,3523,1614,642,232,169
27,2022-09-13 22:00:00-03:00,2022-09-13,22:00:00,2022-09-13 23:00:00-03:00,2022-09-13,23:00:00,10852,5610,19484,3727,2718,1195,215,165
28,2022-09-13 23:00:00-03:00,2022-09-13,23:00:00,2022-09-14 00:00:00-03:00,2022-09-14,00:00:00,7920,4112,13332,2740,1341,634,134,113
29,2022-09-14 00:00:00-03:00,2022-09-14,00:00:00,2022-09-14 01:00:00-03:00,2022-09-14,01:00:00,4914,2572,7849,1744,937,418,89,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,2022-09-18 12:00:00-03:00,2022-09-18,12:00:00,2022-09-18 13:00:00-03:00,2022-09-18,13:00:00,8763,4372,9381,2542,1823,754,173,137
138,2022-09-18 13:00:00-03:00,2022-09-18,13:00:00,2022-09-18 14:00:00-03:00,2022-09-18,14:00:00,15165,6793,11042,2975,1181,563,91,70
139,2022-09-18 14:00:00-03:00,2022-09-18,14:00:00,2022-09-18 15:00:00-03:00,2022-09-18,15:00:00,14036,7566,12400,3769,1079,468,70,53
140,2022-09-18 15:00:00-03:00,2022-09-18,15:00:00,2022-09-18 16:00:00-03:00,2022-09-18,16:00:00,13570,7382,12280,3839,1031,452,65,45
141,2022-09-18 16:00:00-03:00,2022-09-18,16:00:00,2022-09-18 17:00:00-03:00,2022-09-18,17:00:00,11759,6161,10729,3068,947,431,44,27
142,2022-09-18 17:00:00-03:00,2022-09-18,17:00:00,2022-09-18 18:00:00-03:00,2022-09-18,18:00:00,10383,5450,11140,3190,943,385,67,57
143,2022-09-18 18:00:00-03:00,2022-09-18,18:00:00,2022-09-18 19:00:00-03:00,2022-09-18,19:00:00,12490,6106,11575,3226,1704,1003,53,37
144,2022-09-18 19:00:00-03:00,2022-09-18,19:00:00,2022-09-18 20:00:00-03:00,2022-09-18,20:00:00,12901,6335,9806,2958,1501,784,93,58
145,2022-09-18 20:00:00-03:00,2022-09-18,20:00:00,2022-09-18 21:00:00-03:00,2022-09-18,21:00:00,12009,5921,8850,2927,1597,786,80,63
146,2022-09-18 21:00:00-03:00,2022-09-18,21:00:00,2022-09-18 22:00:00-03:00,2022-09-18,22:00:00,11475,5635,9655,3094,1479,831,69,56
147,2022-09-18 22:00:00-03:00,2022-09-18,22:00:00,2022-09-18 23:00:00-03:00,2022-09-18,23:00:00,11097,5193,9484,2879,1040,572,48,35
148,2022-09-18 23:00:00-03:00,2022-09-18,23:00:00,2022-09-19 00:00:00-03:00,2022-09-19,00:00:00,7610,3769,6700,1979,900,459,54,33
149,2022-09-19 00:00:00-03:00,2022-09-19,00:00:00,2022-09-19 01:00:00-03:00,2022-09-19,01:00:00,5177,2535,4329,1389,828,382,247,98
150,2022-09-19 01:00:00-03:00,2022-09-19,01:00:00,2022-09-19 02:00:00-03:00,2022-09-19,02:00:00,2623,1311,2797,803,389,179,73,26
151,2022-09-19 02:00:00-03:00,2022-09-19,02:00:00,2022-09-19 03:00:00-03:00,2022-09-19,03:00:00,1565,812,1558,477,268,131,55,26
152,2022-09-19 03:00:00-03:00,2022-09-19,03:00:00,2022-09-19 04:00:00-03:00,2022-09-19,04:00:00,1078,557,1106,403,140,55,25,9
153,2022-09-19 04:00:00-03:00,2022-09-19,04:00:00,2022-09-19 05:00:00-03:00,2022-09-19,05:00:00,1035,507,1124,366,153,66,32,8
154,2022-09-19 05:00:00-03:00,2022-09-19,05:00:00,2022-09-19 06:00:00-03:00,2022-09-19,06:00:00,1745,924,1764,488,202,73,54,21
155,2022-09-19 06:00:00-03:00,2022-09-19,06:00:00,2022-09-19 07:00:00-03:00,2022-09-19,07:00:00,3481,1810,3212,853,429,205,102,51
156,2022-09-19 07:00:00-03:00,2022-09-19,07:00:00,2022-09-19 08:00:00-03:00,2022-09-19,08:00:00,8019,3645,8703,1945,607,297,172,69
157,2022-09-19 08:00:00-03:00,2022-09-19,08:00:00,2022-09-19 09:00:00-03:00,2022-09-19,09:00:00,10018,4661,10281,2651,727,402,191,102
158,2022-09-19 09:00:00-03:00,2022-09-19,09:00:00,2022-09-19 10:00:00-03:00,2022-09-19,10:00:00,9973,4375,8739,2428,1155,579,336,179
159,2022-09-19 10:00:00-03:00,2022-09-19,10:00:00,2022-09-19 11:00:00-03:00,2022-09-19,11:00:00,11417,5088,9027,2501,934,482,364,194
160,2022-09-19 11:00:00-03:00,2022-09-19,11:00:00,2022-09-19 12:00:00-03:00,2022-09-19,12:00:00,12989,5653,9384,2572,1084,464,316,178
161,2022-09-19 12:00:00-03:00,2022-09-19,12:00:00,2022-09-19 13:00:00-03:00,2022-09-19,13:00:00,11828,5532,15919,3796,1294,710,303,190
162,2022-09-19 13:00:00-03:00,2022-09-19,13:00:00,2022-09-19 14:00:00-03:00,2022-09-19,14:00:00,11361,5207,14582,4337,1646,827,205,114
163,2022-09-19 14:00:00-03:00,2022-09-19,14:00:00,2022-09-19 15:00:00-03:00,2022-09-19,15:00:00,10110,4788,11129,3396,1756,807,201,106
164,2022-09-19 15:00:00-03:00,2022-09-19,15:00:00,2022-09-19 16:00:00-03:00,2022-09-19,16:00:00,9045,4312,10554,3421,1410,695,245,140
165,2022-09-19 16:00:00-03:00,2022-09-19,16:00:00,2022-09-19 17:00:00-03:00,2022-09-19,17:00:00,9210,4334,11717,3704,1285,587,213,117
166,2022-09-19 17:00:00-03:00,2022-09-19,17:00:00,2022-09-19 18:00:00-03:00,2022-09-19,18:00:00,10532,4785,10809,3271,1550,654,175,100

In [4]:
# PROFILE INFORMATION

# Replace with your own users id 
## @LulaOficial id = 2670726740
## @jairbolsonaro id = 128372940 
## @cirogomes id = 33374761
## @simonetebetbr id = 2508415207
user_id_list = [2670726740, 128372940, 33374761, 2508415207]

# fetching the user
user = api.get_user(user_id=user_id_list[0])
# creating dataframe
df_users = pd.DataFrame([datetime.today().strftime('%Y-%m-%d')], columns=['date'])
# fetching the statuses_attributes
df_users['screen_name'] = user.screen_name
df_users['followers'] = user.followers_count
df_users['following'] = user.friends_count
df_users['posts'] = user.statuses_count
df_users['lists'] = user.listed_count
df_users['likes'] = user.favourites_count

## loop - get data about the top 4 candidates
for i in range(1, len(user_id_list)):
    # fetching the user
    user = api.get_user(user_id=user_id_list[i])
    # fetching the statuses_attributes
    df_temp =  pd.DataFrame([datetime.today().strftime('%Y-%m-%d')], columns=['date'])
    # fetching the statuses_attributes
    df_temp['screen_name'] = user.screen_name
    df_temp['followers'] = user.followers_count
    df_temp['following'] = user.friends_count
    df_temp['posts'] = user.statuses_count
    df_temp['lists'] = user.listed_count
    df_temp['likes'] = user.favourites_count

    # adding the info about the new user
    df_users = pd.concat([df_users, df_temp])

df_users = df_users.reset_index(drop=True)
df_users

         date    screen_name  followers  following  posts  lists  likes
0  2022-09-19    LulaOficial    4373145       2805  27058   4066  14991
1  2022-09-19  jairbolsonaro    8933479        497  14978   8415   5886
2  2022-09-19      cirogomes    1488679        415  12764   3278   5837
3  2022-09-19  simonetebetbr     366207        239   3069    853  12423

In [5]:
# Saving dataset
## mentions dataset
df_count.to_csv('datasets/profile_mentions_'+ str(df_count.loc[len(df_count)-1, 'end_date']) +'.csv', index=False)
## user dataset
df_users.to_csv('datasets/profile_info_'+ str(df_users.loc[0, 'date']) +'.csv', index=False)
## last valid date and time
df_count.loc[len(df_count)-1:, ['end_date', 'end_time']].reset_index(drop=True).to_csv('datasets/last_valid_date.csv', index=False)