In [1]:
## data manipulation
import pandas as pd
## show dataframe
from IPython.display import display
## Loading data from python to sql database
import sqlalchemy as sa
from sqlalchemy import create_engine
## working with mysql
import pymysql

In [2]:
profile_info = pd.read_csv('datasets/profile_info.csv')
profile_mentions = pd.read_csv('datasets/profile_mentions.csv')
display(profile_info, profile_mentions.head(3))

         date    screen_name  followers  following  posts  lists  likes
0  2022-09-18    LulaOficial    4355557       2803  27026   4057  14979
1  2022-09-18  jairbolsonaro    8918819        497  14974   8405   5882
2  2022-09-18      cirogomes    1487689        415  12752   3277   5839
3  2022-09-18  simonetebetbr     365885        239   3052    851  12421

,start,start_date,start_time,end,end_date,end_time,@LulaOficial_mentions,@LulaOficial_mentions_without_retweet,@jairbolsonaro_mentions,@jairbolsonaro_mentions_without_retweet,@cirogomes_mentions,@cirogomes_mentions_without_retweet,@simonetebetbr_mentions,@simonetebetbr_mentions_without_retweet
0,2022-09-11 13:00:00-03:00,2022-09-11,13:00:00,2022-09-11 14:00:00-03:00,2022-09-11,14:00:00,7523,3749,10776,2560,1700,811,187,140
1,2022-09-11 14:00:00-03:00,2022-09-11,14:00:00,2022-09-11 15:00:00-03:00,2022-09-11,15:00:00,7191,3639,8604,2225,1498,812,231,172
2,2022-09-11 15:00:00-03:00,2022-09-11,15:00:00,2022-09-11 16:00:00-03:00,2022-09-11,16:00:00,7850,4084,7466,1834,1599,924,186,127

In [3]:
# Conection to MySQL to upload data
user = 'root'
passw = 'EastUS2'
host =  '127.0.0.1'
database = 'br_elections'
port = 3306

engine = create_engine("mysql+pymysql://{user}:{pw}@{host}:{port}/{db}"
                       .format(user=user,
                               pw=passw,
                               host=host,
                               port=port,
                               db=database))

In [4]:
profile_info.to_sql(con=engine, name='profile_info', if_exists='append', index=False)
profile_mentions.to_sql(con=engine, name='profile_mentions', if_exists='append', index=False)