In [1]:
# Import packages
## tweepy - api to get data from twitter
import tweepy as tw
## hiding API keys - ref: https://youtu.be/CJjSOzb0IYs
import apikeys
## data manipulation
import pandas as pd

In [2]:
## Authentication Tokens
my_bearer = apikeys.bearer
my_key = apikeys.key
my_secret = apikeys.secret
my_token = apikeys.token
my_token_secret = apikeys.token_secret

## creating client object
client = tw.Client(
    bearer_token=my_bearer, 
    consumer_key=my_key, 
    consumer_secret=my_secret, 
    access_token=my_token, 
    access_token_secret=my_token_secret
    )

In [3]:
# Replace with your own search query
#query = '@LulaOficial -is:retweet'
query_list = ['@LulaOficial', '@jairbolsonaro', '@cirogomes', '@simonetebetbr']

In [4]:
# Getting data from twitter
counts_recent = client.get_recent_tweets_count(query=query_list[0], granularity='day')
## creating the dataframe and removing the first and the last range
df_all = pd.DataFrame(counts_recent[0], columns=['start', 'end', 'tweet_count']).rename(columns={"tweet_count": query_list[0]}).iloc[1:6].reset_index(drop=True)
## loop - get data about the top 4 candidates
for i in range(1, len(query_list)):
    counts_recent = client.get_recent_tweets_count(query=query_list[i], granularity='day')
    df_temp = pd.DataFrame(counts_recent[0], columns=['tweet_count']).rename(columns={"tweet_count": query_list[i]}).iloc[1:6].reset_index(drop=True)
    df_all = pd.concat([df_all, df_temp], axis=1)
## final dataset
df_all

,start,end,@LulaOficial,@jairbolsonaro,@cirogomes,@simonetebetbr
0,2022-09-12T00:00:00.000Z,2022-09-13T00:00:00.000Z,195957,147111,40319,3068
1,2022-09-13T00:00:00.000Z,2022-09-14T00:00:00.000Z,233442,187982,30843,4392
2,2022-09-14T00:00:00.000Z,2022-09-15T00:00:00.000Z,148868,201442,46792,6831
3,2022-09-15T00:00:00.000Z,2022-09-16T00:00:00.000Z,163307,152931,43433,3177
4,2022-09-16T00:00:00.000Z,2022-09-17T00:00:00.000Z,184217,126500,37154,3995

In [5]:
# Saving dataset
## last 5 days
df_all.to_csv('count_data/from_' + df_all.loc[0, 'start'][0:10] + '_to_' + df_all.loc[len(df_all)-1, 'start'][0:10] + '.csv')
## only last day
df_all.loc[len(df_all)-1:, :].to_csv('count_data/day_' + df_all.loc[len(df_all)-1, 'start'][0:10] + '.csv')