In [1]:
# Import packages
## tweepy - api to get data from twitter
import tweepy as tw
## hiding API keys - ref: https://youtu.be/CJjSOzb0IYs
import apikeys
## data manipulation
import pandas as pd

In [6]:
## Authentication Tokens
my_bearer = apikeys.bearer
my_key = apikeys.key
my_secret = apikeys.secret
my_token = apikeys.token
my_token_secret = apikeys.token_secret

## creating client object
client = tw.Client(
    bearer_token=my_bearer, 
    consumer_key=my_key, 
    consumer_secret=my_secret, 
    access_token=my_token, 
    access_token_secret=my_token_secret
    )

In [29]:
# Replace with your own search query
#query = '@LulaOficial -is:retweet'
query = '@LulaOficial'

In [71]:
counts_recent = client.get_recent_tweets_count(query=query, granularity='day')
pd.DataFrame(counts_recent[0], columns=['start', 'end', 'tweet_count']).rename(columns={"tweet_count": "lula"})

                      start                       end    lula
0  2022-09-10T21:39:39.000Z  2022-09-11T00:00:00.000Z   35261
1  2022-09-11T00:00:00.000Z  2022-09-12T00:00:00.000Z  182015
2  2022-09-12T00:00:00.000Z  2022-09-13T00:00:00.000Z  195971
3  2022-09-13T00:00:00.000Z  2022-09-14T00:00:00.000Z  233565
4  2022-09-14T00:00:00.000Z  2022-09-15T00:00:00.000Z  148930
5  2022-09-15T00:00:00.000Z  2022-09-16T00:00:00.000Z  163386
6  2022-09-16T00:00:00.000Z  2022-09-17T00:00:00.000Z  184265
7  2022-09-17T00:00:00.000Z  2022-09-17T21:39:39.000Z  172489